<div class="xs-sidebar-group info-group info-sidebar">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="#" class="close-side-widget">X</a>
            </div>
            <div class="sidebar-textwidget">
                <div class="sidebar-info-contents">
                    <div class="content-inner">
                        <div class="logo">
                            <a href="/"><img src="images/logo.png" height="168" alt=""/></a>
                        </div>
                        <div class="content-box">
                            <h4>About Us</h4>
                            <div class="inner-text">
                                <p>With more than three decades of dedication and contribution to the logistics sector,
                                    Leus’s
                                    CEO is a visionary leader in the logistics industry, driving innovation and
                                    efficiency in
                                    supply chain solutions. He has played a pivotal role in optimizing transportation
                                    networks,
                                    enhancing e-commerce fulfillment, and delivering seamless shipping experiences in
                                    his
                                    previous roles. With a deep understanding of the ever-evolving logistics landscape,
                                    Leus’s
                                    CEO committed to leveraging technology, strategic partnerships, and customer-centric
                                    solutions to redefine industry standards and ensure businesses stay ahead in a
                                    competitive
                                    market.
                                </p>
                            </div>
                        </div>
                        <div class="sidebar-contact-info">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                    <span class="icon-location1"></span> 3400 Cottage way, Ste G2 #27843, Sacramento,
                                    California
                                </li>
                                <li>
                                    <span class="fa fa-envelope"></span>
                                    <a href="mailto:info@leuslogistics.com">info@leuslogistics.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="thm-social-link1">
                            <ul class="social-box">
                                <li class="facebook">
                                    <a href="#"><i class="icon-facebook-f" aria-hidden="true"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="icon-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="#"><i class="icon-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li class="gplus">
                                    <a href="#"><i class="icon-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="main-header main-header-two">
    <nav class="main-menu">
        <div class="main-menu__wrapper">
            <div class="container">
                <div class="main-menu__wrapper-inner">
                    <div class="main-header-two__inner">
                        <div class="logo-box-two">
                            <a href="/"><img src="/images/logo.png" height="168" class="ms-5" alt=""></a>
                        </div>
                        <div class="main-header-two__top">
                            <div class="main-header-two__top-inner">
                                <div class="main-header-two__top-left">
                                    <div class="header-contact-style2">
                                        <ul>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-clock"></span>
                                                </div>
                                                <div class="text-box">
                                                    <p class="text1">Opening Hours</p>
                                                    <p class="text2">Mon - Sat: 8am - 5pm</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-email"></span>
                                                </div>
                                                <div class="text-box">
                                                    <p class="text1">Send Us Mail</p>
                                                    <p class="text2"><a
                                                            href="mailto:yourmail@email.com">support@leuslogistics.com</a>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-header-two__top-right">
                                    <div class="header-social-link-style2">
                                        <div class="title-box">
                                            <p>Follow Us On:</p>
                                        </div>
                                        <ul>
                                            <li><a href="#"><span class="icon-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                                            <li><a href="#"><span class="icon-twitter1"></span></a></li>
                                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-header-two__bottom">
                            <div class="shape1"></div>
                            <div class="main-header-two__bottom-inner">
                                <div class="main-header-two__bottom-left">
                                    <div class="main-header-two__menu">
                                        <div class="main-menu__main-menu-box">
                                            <a href="#" class="mobile-nav__toggler"><i
                                                    class="fa fa-bars"></i></a>
                                            <ul class="main-menu__list">
                                                <li>
                                                    <a href="#home">Home </a>
                                                </li>
                                                <li>
                                                    <a href="#about">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="#service">Service</a>
                                                </li>
                                                <li>
                                                    <a href="#contact">Contact</a>
                                                </li>
                                                <AuthorizeView>
                                                    <Authorized>
                                                        <li>
                                                            <NavLink href="/portal"
                                                                     onclick="location.href=this.href;return true;">
                                                                Portal
                                                            </NavLink>
                                                        </li>
                                                    </Authorized>
                                                    <NotAuthorized>
                                                        <li>
                                                            <a href="/Account/Login">Login</a>
                                                        </li>
                                                    </NotAuthorized>
                                                </AuthorizeView>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-header-two__bottom-right">
                                    <div class="header-search-box-two">
                                        <a href="#" class="main-menu__search search-toggler icon-search"></a>
                                    </div>
                                    <div class="sidebar-icon">
                                        <a class="navSidebar-button icon2" href="#">
                                            <span class="nav-sidebar-menu-1"></span>
                                            <span class="nav-sidebar-menu-2"></span>
                                            <span class="nav-sidebar-menu-3"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="stricky-header stricky-header--style2 stricked-menu main-menu">
    <div class="sticky-header__content"></div>
</div>