<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-auto bgi-no-repeat bgi-position-center order-1 order-lg-2" style="background-image: url(@Image)">
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}