@page "/"
@using LeUs.Components.Layout
@layout LandingLayout
<PageTitle>Home</PageTitle>
<section class="slider-one" id="home">
    <div class="slider-one__carousel owl-carousel owl-theme">
        <div class="slider-one__single">
            <div class="slider-one__single-bg"
                 style="background-image: url(images/banner/img11.jpg);"></div>
            <div class="shape1"></div>
            <div class="shape2"></div>
            <div class="shape3"></div>
            <div class="shape4"></div>
            <div class="container">
                <div class="slider-one__single-inner">
                    <div class="slider-one__single-content">
                        <h2 class="text-white mb-5" style="font-size: 48px;">Welcome to LeUs Logistics</h2>

                        <div class="title-box">
                            <h3 class="text-white">The Ultimate All-In-One <br class="d-block d-sm-none"/>E-commerce
                                Shipping Solution.</h3>
                        </div>
                        <div class="bg-light">
                            <form class="slider-one__form" data-url="MC_FORM_URL" novalidate="novalidate">
                                <div class="input-box">
                                    <input type="text" placeholder="Track your shipment" name="tracking">
                                    <button type="submit" class="banner-two__tab-form-btn"><span
                                            class="icon-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-one__single">
            <div class="slider-one__single-bg"
                 style="background-image: url(images/banner/img12.jpg);"></div>
            <div class="shape1"></div>
            <div class="shape2"></div>
            <div class="shape3"></div>
            <div class="shape4"></div>
            <div class="container">
                <div class="slider-one__single-inner">
                    <div class="slider-one__single-content">
                        <h2 class="text-white mb-5" style="font-size: 48px;">Welcome to LeUs Logistics</h2>

                        <div class="title-box">
                            <h3 class="text-white">The Ultimate All-In-One <br class="d-block d-sm-none"/>E-commerce
                                Shipping Solution.</h3>
                        </div>
                        <div class="bg-light">
                            <form class="slider-one__form" data-url="MC_FORM_URL" novalidate="novalidate">
                                <div class="input-box">
                                    <input type="text" placeholder="Track your shipment" name="tracking">
                                    <button type="submit" class="banner-two__tab-form-btn"><span
                                            class="icon-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-one__single">
            <div class="slider-one__single-bg"
                 style="background-image: url(images/banner/img13.jpg);"></div>
            <div class="shape1"></div>
            <div class="shape2"></div>
            <div class="shape3"></div>
            <div class="shape4"></div>
            <div class="container">
                <div class="slider-one__single-inner">
                    <div class="slider-one__single-content">
                        <h2 class="text-white mb-5" style="font-size: 48px;">Welcome to LeUs Logistics</h2>

                        <div class="title-box">
                            <h3 class="text-white">The Ultimate All-In-One <br class="d-block d-sm-none"/>E-commerce
                                Shipping Solution.</h3>
                        </div>
                        <div class="bg-light">
                            <form class="slider-one__form" data-url="MC_FORM_URL" novalidate="novalidate">
                                <div class="input-box">
                                    <input type="text" placeholder="Track your shipment" name="tracking">
                                    <button type="submit" class="banner-two__tab-form-btn"><span
                                            class="icon-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* <section class="banner-two"> *@
@*     <div class="banner-two__img1 float-bob-y"> *@
@*         <div class="inner"> *@
@*             <img src="images/banner/img2.png" alt=""> *@
@*         </div> *@
@*     </div> *@
@*     <div class="shape1 float-bob-y"><img src="images/shapes/shape1.png" alt=""></div> *@
@*     <div class="shape2"><img src="images/shapes/shape2.png" alt=""></div> *@
@*     <div class="container clearfix"> *@
@*         <div class="banner-two__content"> *@
@*             <div class="banner-two__content-top wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"> *@
@*                 <div class="title-box"> *@
@*                     <h2>GLOBAL EXPRESS<br> <span>Logistics Expert</span></h2> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="banner-two__content-bottom wow fadeInRight" data-wow-delay="0ms" *@
@*                  data-wow-duration="1500ms"> *@
@*                 <div class="text-box"> *@
@*                     <p>If you have a parcel and want to know its latest update, then check the latest update *@
@*                         with your parcel ID in the form below. Thank You.</p> *@
@*                 </div> *@
@* *@
@*                 <div class="banner-two__tab-box tabs-box"> *@
@*                     <div class="banner-two__tab-form-box"> *@
@*                         <form class="banner-two__tab-form mc-form" data-url="MC_FORM_URL" *@
@*                               novalidate="novalidate"> *@
@*                             <div class="banner-two__tab-form-input-box"> *@
@*                                 <input type="email" placeholder="Track your shipment" name="tracking"> *@
@*                                 <button type="submit" class="banner-two__tab-form-btn"><span *@
@*                                         class="icon-search"></span></button> *@
@*                             </div> *@
@*                         </form> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
<section class="features-one">
    <div class="row g-3 mx-2">
        <div class="col-xl-3 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="features-one__single">
                <div class="features-one__single-icon text-center">
                    <div class="icon">
                        <span class="icon-customer-loyalty"></span>
                    </div>
                    <div class="text-box">
                        <h2>01</h2>
                    </div>
                </div>
                <div class="features-one__single-content">
                    <h2><a href="#">Leading</a></h2>
                    <p>Top-quality services using advanced technology.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="features-one__single">
                <div class="features-one__single-icon text-center">
                    <div class="icon">
                        <span class="icon-courier-services"></span>
                    </div>
                    <div class="text-box">
                        <h2>02</h2>
                    </div>
                </div>

                <div class="features-one__single-content">
                    <h2><a href="#">Expedited</a></h2>
                    <p>Fast-tracked shipping and delivery services.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="features-one__single">
                <div class="features-one__single-icon text-center">
                    <div class="icon">
                        <span class="icon-professional-services"></span>
                    </div>
                    <div class="text-box">
                        <h2>03</h2>
                    </div>
                </div>

                <div class="features-one__single-content">
                    <h2><a href="#">Unwavering</a></h2>
                    <p>Consistently reliable, dedicated and committed to high-quality services.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="features-one__single">
                <div class="features-one__single-icon text-center">
                    <div class="icon">
                        <span class="icon-tracking"></span>
                    </div>
                    <div class="text-box">
                        <h2>04</h2>
                    </div>
                </div>
                <div class="features-one__single-content">
                    <h2><a href="#">Strategic</a></h2>
                    <p>Well-planned, efficient and forward-thinking approach to transportation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-one" id="service">
    <div class="service-one__pattern"
         style="background-image: url(images/shapes/service-pattern.jpg);"></div>
    <div class="container">
        <div class="sec-title center text-center tg-heading-subheading animation-style2">
            <div class="sec-title__tagline">
                <div class="line"></div>
                <div class="text tg-element-title">
                    <h2>Our Service</h2>
                    <div class="heading-divider"></div>
                </div>
                <div class="icon">
                    <span class="icon-plane2 float-bob-x3"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="service-one__carousel owl-carousel owl-theme owl-dot-style1">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="images/services/parcel.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2>
                                <a href="/">All-In-One Parcel Carrier Solution
                                </a></h2>
                            <p>We offer comprehensive shipping solutions to help retailers manage their shipments
                                efficiently. With a strong network of partners, we optimize delivery routes for speed
                                and reliability. Our dedicated customer service and claims team ensures an exceptional
                                client experience</p>
                            <div class="btn-box">
                                <a href="/">Read More
                                    <span
                                        class="icon-right-arrow21"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-delivery-man"></span>
                    </div>
                </div>
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="images/services/warehouse.jpg" alt="#">
                        </div>
                        <div class="service-one__single-content">
                            <h2><a href="/">Warehouse & Fulfillment</a></h2>
                            <p>Warehouse and fulfillment solutions to streamline your supply chain. With modern
                                facilities and efficient inventory management, we ensure seamless storage, order
                                processing, and shipping tailored to your business needs</p>
                            <div class="btn-box">
                                <a href="/">Read More <span
                                        class="icon-right-arrow21"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="images/services/import.jpg" alt="#">
                        </div>
                        <div class="service-one__single-content">
                            <h2><a href="/">Full Clearance & T86 Import Entry Services
                                </a></h2>
                            <p class="cta-wrap">Comprehensive Full Clearance and T86 Import Entry services to simplify
                                and expedite your
                                import process. From customs clearance to compliance with T86 regulations, we ensure
                                smooth and hassle-free entry for your shipments.</p>
                            <div class="btn-box">
                                <a href="/">Read More <span
                                        class="icon-right-arrow21"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-international-shipping"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-two" id="about">
    <div class="shape5"><img src="images/shapes/about-v2-shape5.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-two__img">
                    <div class="shape2 float-bob-x"><img src="images/shapes/about-v2-shape2.png" alt="">
                    </div>
                    <div class="shape3 float-bob-y"><img src="images/shapes/about-v2-shape3.png" alt="">
                    </div>
                    <div class="shape4 float-bob-y"><img src="images/shapes/about-v2-shape4.png" alt="">
                    </div>
                    <div class="about-two__img1">
                        <div class="inner reveal">
                            <img src="images/about/about-v2-img1.jpg" alt="">
                        </div>
                        <div class="about-two__counter">
                            <div class="shape1">
                                <img src="images/shapes/about-v2-shape1.png" alt="">
                            </div>
                            <div class="count-text-box count-box">
                                <h2 class="count-text" data-stop="30" data-speed="1500">00</h2>
                                <span class="plus">+</span>
                            </div>

                            <p>Years Of <br>
                                Experience</p>
                        </div>
                    </div>
                    <div class="about-two__img2 reveal">
                        <img src="images/about/port.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-two__content">
                    <div class="sec-title tg-heading-subheading animation-style2">
                        <div class="sec-title__tagline">
                            <div class="line"></div>
                            <div class="text tg-element-title">
                                <h4>About Us</h4>
                            </div>
                            <div class="icon">
                                <span class="icon-plane2 float-bob-x3"></span>
                            </div>
                        </div>
                        <h2 class="sec-title__title tg-element-title">The Transportation and <br> Logistics
                            <span>Industry</span>
                        </h2>
                    </div>

                    <div class="about-two__content-text1">
                        <p>With more than three decades of dedication and contribution to the logistics sector, Leus’s
                            CEO is a visionary leader in the logistics industry, driving innovation and efficiency in
                            supply chain solutions. He has played a pivotal role in optimizing transportation networks,
                            enhancing e-commerce fulfillment, and delivering seamless shipping experiences in his
                            previous roles. With a deep understanding of the ever-evolving logistics landscape, Leus’s
                            CEO committed to leveraging technology, strategic partnerships, and customer-centric
                            solutions to redefine industry standards and ensure businesses stay ahead in a competitive
                            market.</p>
                    </div>

                    <div class="about-two__content-text2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <ul class="about-two__content-text2-list">
                                    <li>
                                        <p><span class="icon-check1"></span> Safety And Reliability</p>
                                    </li>
                                    <li>
                                        <p><span class="icon-check1"></span> End-to-End Transportation</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <ul class="about-two__content-text2-list">
                                    <li>
                                        <p><span class="icon-check1"></span> Warehousing & Distribution</p>
                                    </li>
                                    <li>
                                        <p><span class="icon-check1"></span> Fast Transportation</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="working-process-one">
    <div class="working-process-one__pattern"
         style="background-image: url(images/shapes/pattern.jpg);"></div>
    <div class="container">
        <div class="shape1"><img src="images/shapes/working-shape1.png" alt=""></div>
        <div class="sec-title center text-center tg-heading-subheading animation-style2">
            <div class="sec-title__tagline">
                <div class="line"></div>
                <div class="text tg-element-title">
                    <h4>Working Process</h4>
                    <div class="heading-divider"></div>
                </div>
                <div class="icon">
                    <span class="icon-plane2 float-bob-x3"></span>
                </div>
            </div>
            <h2 class="sec-title__title tg-element-title">How We Deliver <br>
                Your <span>Parcel</span></h2>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="working-process-one__single">
                    <div class="icon">
                        <div class="count-box">01</div>
                        <span class="icon-quote"></span>
                    </div>

                    <div class="content-box">
                        <h2><a href="#">Request A Quote</a></h2>
                    </div>
                    <div class="plane-icon">
                        <span class="icon-plane"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="working-process-one__single">
                    <div class="icon">
                        <div class="count-box">02</div>
                        <span class="icon-protection"></span>
                    </div>

                    <div class="content-box">
                        <h2><a href="#">Product Receiving </a></h2>
                    </div>
                    <div class="plane-icon">
                        <span class="icon-plane"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="working-process-one__single">
                    <div class="icon">
                        <div class="count-box">03</div>
                        <span class="icon-service"></span>
                    </div>

                    <div class="content-box">
                        <h2><a href="#">Send The Parcel</a></h2>
                    </div>
                    <div class="plane-icon">
                        <span class="icon-plane"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="working-process-one__single">
                    <div class="icon">
                        <div class="count-box">04</div>
                        <span class="icon-new-product"></span>
                    </div>

                    <div class="content-box">
                        <h2><a href="#">Deliver Packages</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-page" id="contact">
    <div class="contact-page__top">
        <div class="contact-page__top-pattern"
             style="background-image: url(images/shapes/contact-pattern.png);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="contact-page__top-content">
                        <div class="sec-title tg-heading-subheading animation-style2">
                            <div class="sec-title__tagline">
                                <div class="line"></div>
                                <div class="text tg-element-title">
                                    <h2>Contact us</h2>
                                </div>
                                <div class="icon">
                                    <span class="icon-plane2 float-bob-x3"></span>
                                </div>
                            </div>
                        </div>
                        <div class="social-links">
                            <a href="#"><span class="icon-facebook-f"></span></a>
                            <a href="#"><span class="icon-instagram"></span></a>
                            <a href="#"><span class="icon-twitter"></span></a>
                            <a href="#"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="contact-page__top-form">
                        <form class="contact-form-validated why-choose-one__form"
                              action="assets/inc/sendemail.php" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="name" placeholder="Name" required="">
                                        <div class="icon"><span class="icon-user"></span></div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="email" name="email" placeholder="Email" required="">
                                        <div class="icon"><span class="icon-email"></span></div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="Phone" placeholder="Phone" required="">
                                        <div class="icon"><span class="icon-phone2"></span></div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <textarea name="message" placeholder="Message"></textarea>
                                        <div class="icon style2"><span class="icon-pen"></span></div>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="why-choose-one__form-btn">
                                        <button type="submit" class="thm-btn">
                                            Submit Now
                                            <i class="icon-right-arrow21"></i>
                                            <span class="hover-btn hover-bx"></span>
                                            <span class="hover-btn hover-bx2"></span>
                                            <span class="hover-btn hover-bx3"></span>
                                            <span class="hover-btn hover-bx4"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-page__bottom">
        <div class="container">
            <div class="contact-page__bottom-inner">
                <ul class="list-unstyled">
                    <li class="contact-page__bottom-single">
                        <div class="icon">
                            <span class="icon-address"></span>
                        </div>
                        <div class="content">
                            <h2>Location</h2>
                            <p>3400 Cottage way, Ste G2 #27843, <br/> Sacramento, CA 95825, USA.</p>
                        </div>
                    </li>

                    <li class="contact-page__bottom-single">
                        <div class="icon">
                            <span class="icon-clock2"></span>
                        </div>
                        <div class="content">
                            <h2>Working Hours</h2>
                            <p>Mon - Sat <br> 8:00 AM - 5:00 PM</p>
                        </div>
                    </li>

                    <li class="contact-page__bottom-single">
                        <div class="icon">
                            <span class="icon-email"></span>
                        </div>
                        <div class="content">
                            <h2>Email</h2>
                            <p>
                                <a href="mailto:support@leuslogistics.com">support@leuslogistics.com</a> <br>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer class="footer-one">
    <div class="footer-one__pattern"><img src="images/footer-pattern.png" alt="#"></div>
    <div class="footer-one__top">
        <div class="container">
            <div class="footer-one__top-inner">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__single footer-one__about">
                            <div class="footer-one__about-logo">
                                <a href="/"><img src="images/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__single footer-one__quick-links">
                            <div class="title">
                                <h2>Quick Links <span class="icon-plane3 text-white"></span></h2>
                            </div>

                            <ul class="footer-one__quick-links-list">
                                <li><a href="#home"><span class="icon-right-arrow1"></span> Home</a></li>
                                <li><a href="#about"><span class="icon-right-arrow1"></span> About Us</a>
                                </li>
                                <li><a href="#service"><span class="icon-right-arrow1"></span> Service</a>
                                </li>
                                <li><a href="#contact"><span class="icon-right-arrow1"></span> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="footer-widget__single footer-one__contact">
                            <div class="title">
                                <h2>Get In Touch <span class="icon-plane3 text-white"></span></h2>
                            </div>

                            <div class="footer-one__contact-box">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-address"></span>
                                        </div>
                                        <div class="text-box">
                                            <p>3400 Cottage way, Ste G2 #27843, <br/>
                                                Sacramento, CA 95825, USA</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <span class="icon-email"></span>
                                        </div>
                                        <div class="text-box">
                                            <p><a href="mailto:support@leuslogistics.com">support@leuslogistics.com</a>
                                            </p>
                                            <p><a href="mailto:info@leuslogistics.com">info@leuslogistics.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__single footer-one__subscribe">
                            <div class="title">
                                <h2>Subscribe Us <span class="icon-plane3 text-white"></span></h2>
                            </div>
                            <p class="footer-one__subscribe-text">Sign up for alerts, our latest blogs, <br>
                                thoughts, and insights</p>
                            <div class="footer-one__subscribe-form">
                                <form class="subscribe-form" action="#">
                                    <input type="email" name="email" placeholder="Your E-mail">
                                    <button type="submit" class="thm-btn">Subscribe
                                        <i class="icon-right-arrow21"></i>
                                        <span class="hover-btn hover-bx"></span>
                                        <span class="hover-btn hover-bx2"></span>
                                        <span class="hover-btn hover-bx3"></span>
                                        <span class="hover-btn hover-bx4"></span>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-one__bottom">
        <div class="container">
            <div class="footer-one__bottom-inner">
                <div class="footer-one__bottom-text">
                    <p>© Copyright 2025 <a href="/">LeUs Logistics.</a> All Rights Reserved</p>
                </div>
                <div class="footer-one__social-links">
                    <ul>
                        <li>
                            <a href="#"><span class="icon-facebook-f"></span></a>
                        </li>

                        <li>
                            <a href="#"><span class="icon-instagram"></span></a>
                        </li>

                        <li>
                            <a href="#"><span class="icon-twitter1"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-linkedin"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
